@import url('https://fonts.googleapis.com/css?family=Montserrat');

$base-fontname : 'helvetica neue', sans-serif;
$base-fontsize : 12px;
$title-fontname: 'Montserrat', serif;

$dark-color    : black;
$median-color  : #888888;
$light-color   : whitesmoke;
$progress-color: darkgreen;